body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(25deg,#DDDDDD,white,#FEFEFE,#DDDDDD);
}
.topo h1 {
    font-size: 30px;
    font-weight: bold;
}
.topo p {
    font-size: 22px;
}
.lista-a {
    clear: left;
}
.lista-a h2 {
    font-size: 20px;
    font-weight: bold;
    padding: 2.5em 0;
}
.lista-a img {
    width: 250px;
    float: left;
    display: block;
}
.lista-a a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    clear: left;
    margin: 0 0 0 8px;
}
.lista-a a:hover {
    color: red;
    font-size: 17px;
}
.lista-a p {
    font-size: 20px;
    padding: 2em 0 1em 0;
    display: block;
    margin: 0 257px;
}
.lista-b  h2 {
    padding: 6em 0 0 0;
}
.lista-b li {
    margin: 10px 0;
}
.lista-c h3 {
    margin: 2em 0;
}
.lista-c q {
    font-weight: bold;
}
.lista-c blockquote {
    margin: 0.5em 0 3em 2em;
}
.lista-c blockquote:first-letter {
    font-size: 25px;
}
.formulario h3 {
    margin: 3em 0 1.5em 0 ;
}
.formulario label,input {
    margin: 10px auto;
}
button {
    width: 5%;
    margin: 1em 0 0 0 ;
    transition: 80ms all;
    background: lightgray;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
button:hover {
    transform: scale(1.2);
    color: blue;
}
footer {
    padding: 5em 0;
    background: url("../imagens/bg.jp");
}
.rodape a {
    color: black;
    text-decoration: none;
}
.rodape p {
    font-size: 25px;
    color: black;
    margin: 0 0 1em 0;
}
.rodape a:hover {
    color: red;
    font-size: 20px;
}
.rodape li {
    display: inline-block;
    margin: 0 1em 0 0;
}